/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/storage/*.key
/storage/minio_dev/exampapers/*
!/storage/minio_dev/exampapers/.gitkeep
/storage/minio_dev/.minio.sys
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dump.rdb
.env
.DS_Store
.phpunit.result.cache
