/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/storage/*.key
/storage/tenant*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dump.rdb
.env
.DS_Store
.phpunit.result.cache
